#main.container
	%h3.header Edit rental property

	= form_for @property, :method=> :put do |f|

		= f.label "Title"
		= f.text_field :title, required: true
		%br
		= f.label "Description"
		= f.text_field :description, size: 70
		%br
		= f.label "Bedrooms"
		= f.number_field :bedrooms, required: true, :min => 0
		%br
		= f.label "Beds"
		= f.number_field :beds, required: true, :min => 0
		%br
		= f.label "Maximum people allowed"
		= f.number_field :maxpersons, required: true, :min => 1
		%br
		= f.label "Bathrooms"
		= f.number_field :bathrooms, required: true, :min => 0
		%br
		= f.label "Pets allowed?"
		= f.check_box :pets_allowed
		%br
		= f.label "Address"
		= f.text_field :address, required: true
		%br
		= f.label "Price"
		= f.number_field :price, required: true, :min => 0, :step => 0.01
		%br
		= f.label "Upload your picture"
		= f.file_field :image, accept: "image/jpeg, image/bmp, image/png"
		%br
		= f.submit ("Save changes")
	%p=""
	%p= link_to("Back to rental properties list", rental_properties_path)
