%p
%p
#main.container
    %h3.header Properties available for rent

    = form_tag rental_properties_path, :method => :get do

        = label_tag "Minimum occupants"
        = number_field_tag :maxpersons, nil ,:min=>1

        = label_tag "Number of bathrooms"
        = number_field_tag :bathrooms, nil, :min=>0

        = label_tag "Maximum price"
        = number_field_tag :price, nil, :min=>0
        %p
        = label_tag "Within"
        = number_field_tag :distance, nil, :min=>1

        = label_tag "miles of"
        = text_field_tag :address
        = submit_tag "Filter rental properties"
        %br

    %table.table
        %thead
            %tr.static
                %th= link_to("Property", request.params.merge(sort_by: "title"))
                %th= ""
                %th= "Description"
                %th= link_to("Details", request.params.merge(sort_by: "capacity"))
                %th= link_to("Distance from you", request.params.merge(sort_by: "distance"))
                %th= link_to("Price per night", request.params.merge(sort_by: "price"))
        %tbody
            -@properties.each do |property|
                %tr
                    %td= image_tag(property.image.url(:thumb))
                    %td.title= link_to "#{property.title}", rental_property_path(property)
                    %td= truncate(property.description, length: 60, separator: ' ')
                    %td= "Sleeps #{property.maxpersons}, with #{pluralize(property.bedrooms, 'bedroom')} #{pluralize(property.beds, 'bed')} and #{pluralize(property.bathrooms, 'bathroom')}. Pets are #{property.pets_permitted} allowed."
                    %td.text-right= "#{number_to_human(property.distance_known(property.distance_from_client), significant: true)} mi "
                    %td.text-right= number_to_currency(property.price)

    %p= link_to("Create a new rental property", new_rental_property_path)